# See https://docs.github.com/get-started/getting-started-with-git/ignoring-files for more about ignoring files.

# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

# Node
/UI/node_modules
/UI/npm-debug.log
/UI/yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Miscellaneous
/UI/.angular/cache
/UI/.sass-cache/
/UI/connect.lock
/UI/coverage
/UI/libpeerconnection.log
/UI/testem.log
/UI/typings

# System files
.DS_Store
Thumbs.db

# Model files
model.pth